<section> 

  <h3 id="about-me"> About Myself </h3>
  


  <div class="face-lockup"> 
    <div class="face-img"></div>
 

  </div>

  <div class="blurb">
  <p><Strong>Is simply dummy text of the printing and typesetting industry. </Strong> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
  </p>

  </div>


  <h3> Activites </h3>

  <div class="face-lockup2">
  <div class="tooltip">
  <span class="tooltiptext"> cricket </span>
    <div class="pic-cricket"></div>
</div>
  <div class="pic-cricket"></div>
  <div class="pic-bball"></div>
  <div class="pic-football"></div>
  <div class="pic-soccer"></div>
  <div class="pic-squash"></div>

  </div>

    <h3> My Skills</h3>


  <div class="skill-lockup">
    
    <div class= "skill-unit">
    <div class="skill-label"> <strong> Communication </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>


    <div class= "skill-unit">
    <div class="skill-label"> <strong> Web Dev </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong> Mobile Dev </strong> </div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">  ☆  </span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>




    <div class= "skill-unit">
    <div class="skill-label"> <strong> UX </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong><strong> Organization </strong> </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong> Planning </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>



    <div class= "skill-unit">
    <div class="skill-label"> <strong> Punctuality </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

    </div>
    </div>




      <div class= "skill-unit">
    <div class="skill-label"> <strong> Learning </strong></div>
    <div class="skill-icons"><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span><span style="color:green">☆</span>

    </div>
    </div>

  </div>




  </div>











</section>



